@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1741617216832') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-gengduo:before {
  content: "\f0170";
}

.icon-31haoyou:before {
  content: "\f0226";
}

.icon-xiangxiajiantou:before {
  content: "\e65e";
}

.icon-ego-box:before {
  content: "\e609";
}

.icon-smile:before {
  content: "\e625";
}

.icon-xiaochengxu:before {
  content: "\e619";
}

.icon-wenjian:before {
  content: "\e7e0";
}

.icon-guanbi:before {
  content: "\eaf2";
}

.icon-shouji_o:before {
  content: "\eb4d";
}

.icon-jianqie:before {
  content: "\e675";
}

.icon-24gl-bubbleDots2:before {
  content: "\e93e";
}

.icon-plus:before {
  content: "\e8fe";
}

.icon-kanyikan:before {
  content: "\e6a2";
}

.icon-zuixiaohua:before {
  content: "\e650";
}

.icon-zuidahua:before {
  content: "\e613";
}

.icon-pengyouquan:before {
  content: "\e635";
}

.icon-gengduo1:before {
  content: "\e60c";
}

.icon-qipao:before {
  content: "\e622";
}

.icon-souyisou1-copy:before {
  content: "\e516";
}

.icon-a-118-yane:before {
  content: "\e8da";
}

.icon-a-042_shipinhao:before {
  content: "\e6dd";
}
